@font-face {
  font-family: 'Quicksand';
  src: url('../Quicksand-Light.ttf') format("truetype");
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.navbar {
  background-color: rgba(19, 18, 18, 0.85);
  width: 100%;
  height: 30px;
  width: 675px;
  -webkit-app-region: drag;
  font-family: 'Quicksand', sans-serif;
  border-radius: 10px 10px 0 0;
}

.navbar p {
  font-size: 20px;
  color: rgba(240, 240, 240);
  position: fixed;
  top: 2px;
  left: 7.5px;
}

#version-number {
  color: rgba(140, 140, 140);
  left: 82.5px;
}

.navbar button {
  width: 20px;
  height: 20px;
  background-color: rgb(33, 32, 32);
  color: rgba(240, 240, 240, 1.0);
  display: block;
  position: absolute;
  border: none;
  border-radius: 2.5px;
  -webkit-app-region: no-drag;
}

#minimize {
  right: 30px;
  top: 5px;
}

#settings-button {
  right: 55px;
  top: 5px;
}

#close {
  right: 5px;
  top: 5px;
}

#content {
  color: #AAAAAA;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  background-color: rgba(25, 26, 26, 0.75);
  border-radius: 0 0 10px 10px;
  height: 330px;
  width: 675px;
  display: block;
}

.headers {
  display: flex;
  flex-direction: horizontal;
  height: 25px;
  width: 675px;
  border: 1px rgb(19, 18, 18);
  border-bottom-style: solid;
}

.headers ul {
  list-style-type: none;
}

.headers ul li {
  display: inline;
  float: left;
}

.headers ul li a {
  text-align: center;
  display: block;
  text-shadow: 1px 1px 2.5px #000000;
}

.headers ul li:nth-child(1) a {
  padding: 2.5px 15px;
}

.headers ul li:nth-child(2) a {
  padding: 2.5px 100px;
}

.headers ul li:nth-child(3) a {
  padding: 2.5px 10px;
}

.headers ul li:nth-child(4) a {
  padding: 2.5px 10px;
}

.headers ul li:nth-child(5) a {
  padding: 2.5px 10px;
}

.headers ul li:nth-child(6) a {
  padding: 2.5px 10px;
}

.headers ul li:nth-child(7) a {
  padding: 2.5px 15px;
}

.headers ul li:nth-child(8) a {
  padding: 2.5px 20px;
}

.lines ul {
  list-style-type: none;
}

.lines #lvl {
  width: 50px;
  text-align: center;
  text-shadow: 1px 1px 2.5px #000000;
  display: inline-block;
}

.lines #name {
  width: 230px;
  text-align: center;
  text-shadow: 1px 1px 2.5px #000000;
  display: inline-block;
}

.lines #fkdr {
  width: 62.5px;
  text-align: center;
  text-shadow: 1px 1px 2.5px #000000;
  display: inline-block;
}

.lines #wlr {
  width: 47.5px;
  text-align: center;
  text-shadow: 1px 1px 2.5px #000000;
  display: inline-block;
}

.lines #bblr {
  width: 47.5px;
  text-align: center;
  text-shadow: 1px 1px 2.5px #000000;
  display: inline-block;
}

.lines #fkills {
  width: 65px;
  text-align: center;
  text-shadow: 1px 1px 2.5px #000000;
  display: inline-block;
}

.lines #wins {
  width: 57.5px;
  text-align: center;
  text-shadow: 1px 1px 2.5px #000000;
  display: inline-block;
}

.lines #index {
  width: 70px;
  text-align: center;
  text-shadow: 1px 1px 2.5px #000000;
  display: inline-block;
}

hr {
  border: 1px rgb(19, 18, 18);
  border-bottom-style: solid;
  height: 1px;
  width: 100%;
  position: fixed;
}

#settings {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  background-color: rgba(25, 26, 26, 0.75);
  border-radius: 0 0 10px 10px;
  height: 330px;
  width: 675px;
  display: none;
}

#settings-title {
  font-size: 17.5px;
  position: fixed;
  top: 47.5px; 
  left: 20px;
}

#api-title {
  font-size: 15px;
  position: fixed;
  top: 52px;
  left: 315px;
}

#api-input {
  position: fixed;
  left: 385px;
  top: 50px;
  height: 25px;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
  width: 250px;
  text-align: center;
}

#api-input:focus {
  outline: none;
}

#theme {
  position: fixed;
  width: 200px;
  height: 250px;
  background-color: rgba(25, 26, 26, 0.75);
  top: 90px;
  left: 20px;
  border-radius: 10px;
}

#extra {
  position: fixed;
  width: 415px;
  height: 250px;
  background-color: rgba(25, 26, 26, 0.75);
  top: 90px;
  left: 240px;
  border-radius: 10px;
}

.settings-header {
  text-align: center;
  top: 5px;
  width: 100%;
  position: absolute;
}

.toggleables {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 125px;
  left: 500px;
}

.toggleable {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.slider {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
}

.slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleable-header {
  text-align: center;
}

.toggleable-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #191A1A;
  -webkit-transition: .25s;
  transition: .25s;
  border-radius: 5px;
}

.toggleable-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 50px;
  left: 2px;
  bottom: 2px;
  background-color: #252525;
  border: 0.5px solid white;
  -webkit-transition: .25s;
  transition: .25s;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.toggleable-input:checked + .toggleable-slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

.toggleable-slider-off {
  position: absolute;
  left: 13px;
  color: white;
  -webkit-transition: .25s;
  transition: .25s;
}

.toggleable-slider-on {
  position: absolute;
  right: 15px;
  color: #555555;
  -webkit-transition: .25s;
  transition: .25s;
}

.toggleable-input:checked + .toggleable-slider .toggleable-slider-off {
  color: #555555;
}

.toggleable-input:checked + .toggleable-slider .toggleable-slider-on {
  color: white;
}